<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/daterangepicker.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="assets/js/moment.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Covid Overview App</title>
    <style>
        .box {
            background: #fff;
            -webkit-box-shadow: 0 12px 24px 0 rgba(32, 32, 32, 0.16);
            -moz-box-shadow: 0 12px 24px 0 rgba(32, 32, 32, 0.16);
            box-shadow: 0 12px 24px 0 rgba(32, 32, 32, 0.16);
            border-radius: 8px;
            min-height: 132px;
        }

        .black-box {
            background: #000;
            color: #fff;
        }

        .black-box hr {
            border: 1px solid #fff;
        }

    </style>
</head>

<body>
    <div class="bottom-0 py-3 mt-6 text-center black-box sticky hidden">
        <h1 class="text-xs uppercase">Covid Statistic by: <span class="capitalize">Anisah Ail</span>
        </h1>
    </div>
    <div id="covid-app" class="container pt-6">


        <div class="flex" v-if="!isLoading">
            <div class="w-1/3">
                <select name="filterResult" id="filterResult" class="p3" v-model="filter">
                    <option value="all">All</option>
                    <option value="continents">Continents</option>
                    <option value="countries">Countries</option>
                </select>
            </div>
            <div class="w-1/3" v-if="filter === 'countries'">
                <select name="filterResult" id="filterResult" class="p3" v-model="filter2" @change="filterByCountry()">
                    <option value="">Please select country</option>
                    <option v-for="val in countryArr" :value="val">{{val}}</option>
                </select>
            </div>
        </div>
        <img src="https://media.giphy.com/media/2uJ0EhZnMAMDe/giphy.gif" alt="Loading" v-if="isLoading" class="m-auto">
        <div class="result-cont" v-if="!isLoading">
            <h1 class="font-bold my-3 text-l capitalize ">Casses by <span>{{filter}}</span> <span v-if="filter != ''"
                    class="text-xs">{{filter2}}</span></h1>
            <hr class="my-4">
            <h4>Latest update: <span class="font-medium">{{dateUpdate | formatDateAndTime }}</span></h4>
            <div v-if="!isSingleData">
                <ul class="flex flex-wrap justify-evenly  mt-3" v-if="filter === 'continents'">
                    <li v-for="(result, index) in results" class="box p-3 m-3 w-1/4 place-content-evenly">
                        <p class="font-semibold">{{result.continent}}</p>
                        <hr class="my-2">
                        <div class="flex flex-wrap">
                            <div class="w-1/2">
                                <p class="font-medium text-s">Today</p>
                                <p><span class="font-medium">{{result.todayCases | formatNumber}}</span> <span
                                        class="text-xs">cases</span></p>
                                <p><span class="font-medium">{{result.todayRecovered | formatNumber}}</span> <span
                                        class="text-xs">recovered</span></p>
                                <p><span class="font-medium">{{result.todayDeaths | formatNumber}}</span> <span
                                        class="text-xs">deaths</span></p>
                            </div>
                            <div class="w-1/2">
                                <p class="font-medium">Overall</p>
                                <p><span class="font-medium">{{result.cases | formatNumber}}</span> <span
                                        class="text-xs">cases</span></p>
                                <p><span class="font-medium">{{result.recovered | formatNumber}}</span> <span
                                        class="text-xs">recovered</span></p>
                                <p><span class="font-medium">{{result.deaths | formatNumber}}</span> <span
                                        class="text-xs">deaths</span></p>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="flex flex-wrap justify-evenly  mt-3" v-if="filter === 'countries'">
                    <li v-for="(result, index) in resultsCountries" class="box p-3 m-3 w-1/4 place-content-evenly">
                        <p class="font-semibold uppercase">{{result.country}}</p>
                        <hr class="my-2">
                        <div class="flex flex-wrap">
                            <div class="w-1/2">
                                <p class="font-medium text-s">Today</p>
                                <p><span class="font-medium">{{result.todayCases | formatNumber}}</span> <span
                                        class="text-xs">cases</span></p>
                                <p><span class="font-medium">{{result.todayRecovered | formatNumber}}</span> <span
                                        class="text-xs">recovered</span></p>
                                <p><span class="font-medium">{{result.todayDeaths | formatNumber}}</span> <span
                                        class="text-xs">deaths</span></p>
                            </div>
                            <div class="w-1/2">
                                <p class="font-medium">Overall</p>
                                <p><span class="font-medium">{{result.cases | formatNumber}}</span> <span
                                        class="text-xs">cases</span></p>
                                <p><span class="font-medium">{{result.recovered | formatNumber}}</span> <span
                                        class="text-xs">recovered</span></p>
                                <p><span class="font-medium">{{result.deaths | formatNumber}}</span> <span
                                        class="text-xs">deaths</span></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>




            <div class="box p-3 m-3 w-1/2 place-content-evenly" v-if="isSingleData">

                <p class="font-semibold uppercase mb-3" v-if="filter === 'all'">Around the world</p>
                <p class="font-semibold uppercase flex text-center mb-3" v-if="filter === 'countries'">
                    {{statDefault.country}} <img :src="statDefault.countryInfo.flag" class="w-1/12 ml-4" alt="Loading">
                </p>
                <hr class="my-2">
                <div class=" flex flex-wrap">
                    <div class="w-1/2">
                        <p class="font-medium text-s">Today</p>
                        <p><span class="font-medium">{{statDefault.todayCases | formatNumber}}</span> <span
                                class="text-xs">cases</span></p>
                        <p><span class="font-medium">{{statDefault.todayRecovered | formatNumber}}</span> <span
                                class="text-xs">recovered</span></p>
                        <p><span class="font-medium">{{statDefault.todayDeaths | formatNumber}}</span> <span
                                class="text-xs">deaths</span></p>
                    </div>
                    <div class="w-1/2">
                        <p class="font-medium">Overall</p>
                        <p><span class="font-medium">{{statDefault.cases | formatNumber}}</span> <span
                                class="text-xs">cases</span></p>
                        <p><span class="font-medium">{{statDefault.recovered | formatNumber}}</span> <span
                                class="text-xs">recovered</span></p>
                        <p><span class="font-medium">{{statDefault.deaths | formatNumber}}</span> <span
                                class="text-xs">deaths</span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>
        Vue.filter('formatDateAndTime', function (str) {
            return moment(str).format("DD MMM YYYY hh:mmA");
        });
        Vue.filter('formatNumber', function (value) {
            if (!value) return value;

            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        });
        const App = new Vue({
            el: '#covid-app',
            data: {
                url: 'https://disease.sh/v3/covid-19',
                isLoading: true,
                results: '',
                dateUpdate: '',
                byCountry: '',
                resultsCountries: '',
                statAll: '',
                filter: 'all',
                countryArr: [],
                filter2: '',
                showSecondFilter: false,
                isSingleData: false
            },
            created() {
                this.statByDefault();
                // this.statByContinents();
                // this.statByCountries();
                // this.statByCountry();
            },
            methods: {
                statByDefault() {
                    this.isSingleData = true;
                    fetch(this.url + '/all', {
                            method: 'GET',
                            //body: JSON.stringify(this.data),
                            headers: {
                                "Content-type": "application/json; charset=UTF-8"
                            }
                        })
                        .then(response => response.json())
                        .then(json => {
                            this.statDefault = json;
                            this.dateUpdate = json.updated;
                            this.isLoading = false;
                        })
                },
                statByContinents() {
                    this.isSingleData = false;
                    fetch(this.url + '/continents', {
                            method: 'GET',
                            //body: JSON.stringify(this.data),
                            headers: {
                                "Content-type": "application/json; charset=UTF-8"
                            }
                        })
                        .then(response => response.json())
                        .then(json => {
                            this.results = json;
                            this.isLoading = false;
                        })
                },
                statByCountry(type) {
                    let urlPath = this.url + '/countries';

                    if (type === 'country') {
                        urlPath = this.url + '/countries/' + this.filter2;
                    }
                    fetch(urlPath, {
                            method: 'GET',
                            //body: JSON.stringify(this.data),
                            headers: {
                                "Content-type": "application/json; charset=UTF-8"
                            }
                        })
                        .then(response => response.json())
                        .then(json => {

                            if (type !== 'country') {
                                json.forEach(data => this.countryArr.push(data.country));
                                this.resultsCountries = json;
                                this.isSingleData = false;
                            } else {
                                this.statDefault = json;
                                this.isSingleData = true;
                            }

                            //this.dateUpdate = json[0].updated;
                            this.isLoading = false;
                        })
                },
                filterByCountry() {
                    this.isLoading = true;
                    this.statByCountry('country');
                }
            },
            watch: {
                filter: function (val) {
                    this.isLoading = true;
                    this.filter2 = '';
                    if (val !== 'all') {
                        if (val === 'continents') {
                            this.statByContinents();
                        } else {
                            this.statByCountry('');
                        }
                    } else {
                        this.statByDefault();
                    }
                }
            }
        })

    </script>
</body>

</html>
